*{margin:0px;}

body{
  background-color: rgb(185, 234, 218);
}

.formulaire{
  display: flex;
  justify-content: center;
    flex-direction: column;
padding: 10px 500px;
}

h2{text-align: center;
  color:white;
  background-color: black;
padding: 40px 0px;

}
.btn{
  margin: 10px 150px;
  padding: 10px 0px;
}

.info{
  text-align: center;
  margin: 40px 0px;
}